body {
    background-image:url(booksbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    background: linear-gradient(to bottom, blue, cornflowerblue);
}

#quizForm {
    margin: 0 auto;
    width: 50%;
    padding: 10px;
    background: green, 70%;
}

#quizForm > div {
    margin-bottom: 10px;
}

p {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
}

label {
    background: white;
    padding: 2px;
    border-radius: 10px;
}


